/*<<<<<<<<<<<*mikemike3662@gmail.com*>>>>>>>>>>>>
<<<<<<<<<<<*mikemike3662@gmail.com*>>>>>>>>>>>>*/
.topbarContainer{
    background-color: rgb(137, 137, 185);
    display: flex;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .topbarLeft{
    padding: 10px 10px 10px 10px;
  }
  .schoolLogo{
    height: 40px;
    width: 40px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 20px;
    object-fit: cover;
  }
  a{
    background-color: rgb(144, 151, 158);
    color: blue;
    padding: 6px 6px 6px 6px;
    border-radius: 8px;
    font-weight: bold;
  }
  body{
    font-size: 24px;
    background-color: rgb(175, 205, 231);
  }
  .bodyContainer{
    background-color: rgb(127, 137, 146);
    padding: 10px 10px 10px 10px;
  }